<div class="container mt-4 ">
  <div class="row">
    <h1>Registro de equipos</h1>
    <div class="col-8 mt-3">
      <form [formGroup]="form">
        <div class="mb-3">
          <label class="form-label">Nombre del equipo</label>
          <input type="text" formControlName="nombre" class="form-control"
            [ngClass]="{error: sub && getForm['nombre'].errors,'validacion': nombre.valid && (nombre.dirty || nombre.touched) }">
        </div>
        <div class="mb-3">
          <label class="form-label">color</label>
          <input type="text" formControlName="color" class="form-control"
            [ngClass]="{error: sub && getForm['color'].errors,'validacion': color.valid && (color.dirty || color.touched) }">
        </div>
        <div class="mb-3">
          <label class="form-label">id_tecnico</label>
          <input type="text" formControlName="id_tecnico" class="form-control"
            [ngClass]="{error: sub && getForm['id_tecnico'].errors,'validacion': id_tecnico.valid && (id_tecnico.dirty || id_tecnico.touched) }">
        </div>

        <!-- 

            <div class="mb-3">
                <label class="form-label">id_futbolistas</label>
                <input type="text" formControlName="id_futbolistas" class="form-control"
                [ngClass]="{error: sub && getForm['id_futbolistas'].errors,'validacion': id_tecnico.valid && (id_tecnico.dirty || id_tecnico.touched) }">
            </div>
        -->



        <button class="btn btn-primary" (click)="sendDatos()">Registrar</button>
      </form>

      <div>
        <label>Elija Jugador</label>

        <select [(ngModel)]="futbolista">
          <option *ngFor="let item of listaJugador" value="{{item._id}}">{{item.nombre}}</option>

        </select>
        <select [(ngModel)]="posicion">
          <option *ngFor="let item of listaPosicion" value="{{item._id}}">{{item.nombre}}</option>

        </select>
        <button (click)="cargarFutbolistas()" class="btn btn-primary"><span class="material-icons">
            add_circle_outline
          </span></button>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <span class="material-icons">
            person_add
          </span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestion de Jugadores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <app-jugador></app-jugador>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <ul *ngFor="let item of nombreFutbolistas">
          <li>{{item}}
            <button (click)="eliminar(item)">delete</button>

          </li>


        </ul>


      </div>
    </div>
    <div class="col-4 mt-2">

      <app-admin-equipo></app-admin-equipo>



    </div>
  </div>
  <br>
  <br>
  <hr>

</div>
